body {
    background-color: #E88D7A;
    color: #2d2c2c;
  }

h1 {
    font-size: 40;
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
}

button {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    /* display: inline-grid; */
    font-size: 18;
}

button:hover {
    filter: brightness(1.3);
}

  #container {
    width: 100%;
  }
  
  #main {
    margin: 0 auto;
  }

  #contact button {
    background-color: rgb(43, 160, 43);
  }

  #contact a {
    color: white;
  }
  
  #shiny img {
    filter: brightness(1.5);
  }
  
  #shiny img:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 10px black);
  }
  
  #shiny button {
    background: url("shiny_bg1.jpg");
    color: white;
  }

  #not_shiny button {
    background: rgb(170, 79, 79);
    color: wheat;
  }

  #shiny button, #not_shiny button {
    display:inline-block;
  }

  #easter_egg button {
    cursor: not-allowed;
    background: url("virus.jpg");
    color: rgb(0, 255, 13);

    height: 280;
    width: 300;
    text-align: center;
    vertical-align: middle;
  }

  #Instructions ul {
    list-style-type: none;
  }
